body
	overflow-y scroll

header
	z-index zHeader
	background gray_dark
	size 100% header_height
	fixed top 0
	.header-content
		width base_width
		margin 0 auto
	.logo
		display block
		text-decoration none
		width 150px
		margin-left 15px
	.logo-text
		color white_light
		text-transform uppercase
		display inline-block
		font-size 14px
		height header_height
		line-height header_height
		margin-left 50px
		
section#content
	width base_width
	margin header_height auto 0
	background white
	
		